@font-face {
    font-family: AvinerBold;
    src: url("https://www.pepsi.com/en-us/assets/fonts/AvenirNextLTPro-Bold.otf") format('opentype');
    font-weight: 500;
 }

.sec1leftImage1{
    width: 100% !important;
}
.sec1leftImage1 img{
    width: 100%;
    height:100%
}
.sec1RightImage1{
    /* width: 100%; */
    max-width: 500px;
    min-width: 200px;
    margin: 0 auto;
}
.sec1RightImage1 img{
    width: 100%;
    height: 100%;
}
.sec1RightImage2{
    width: 60%;
    margin: 0 auto;
}
.sec1RightImage2 img{
    width: 100%;
}
.sec1RightImage3 {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.sec1RightImage3 img{
    width: 100%;
    height: 100%;
}

.section2{
    background-image: url(./images/sec2bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a{
    color: white !important;
    font-weight: 700 !important;
}
.sec2LeftImage1 {
    max-width: 450px;
    min-width: 250px;
    /* background-color: yellowgreen; */
}

.sec2LeftImage1 img{
    width: 100%;
    height: 100%;
}
.sec2RightImage1 {
    max-width: 400px;
    min-width: 250px;
    margin: 0 auto;
}
.section2Column2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec2RightImage1 img{
    width: 100%;
    height: 100%;
}
.sec2heading h1{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: 800;
    color: white;
}
.section2Column2 button{
    width: 150px;
    margin: 0 auto;
    font-weight: 500;
    border-width: 3px;
    margin: 20px auto !important;
    border-radius: 30px;
}
.sec3LeftImage1,.sec3LeftImage2 {
    max-width: 400px;
    min-width: 200px;
}
.sec3LeftImage1 img,.sec3LeftImage2 img{
    width: 100%;
    height: 100%;
}
.sec3RightImage{
    background: url(./images/sec3bgright.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.section4{
    background: url(./images/sec4bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.sec4LeftImage {
    max-width: 400px;
    min-width: 200px;
}
.sec4LeftImage img{
    width: 100%;
    height: 100%;
}
.section1.section5{
    background: url(./images/sec5bg.jpg);
}
@media (max-width: 768px) { 
   
 }